@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');

body {
  background: url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjB3YWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 0);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
}

h2:hover {
  color: ghostwhite;
}

a {
  color: rgb(255, 255, 0);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: rgb(179, 171, 60);
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: rgb(12, 12, 12);
  background: rgb(201, 173, 14);
  font-size: 1em;
  border-radius: 10%;
}
legend {
  padding: .3em;
  color: rgb(83, 223, 162);
  background: rgb(167, 179, 60);
  font-size: 1em;
  
  
}

label{
  color: rgb(83, 223, 162);
  font-size: 1em;
}